<font size="6" color = "blue"><b>ch05. 함수</b></font>
- 반복해서 사용할 코드를 묶어서 구현해 놓은 것
- 같은 이름의 함수는 덮어씀 (오버로딩 불가)
- 함수 정의 (구현)
  ```
    def 함수명([인수1, 인수2, ...]):
      명령어1
      명령어2
  ```

# 1절. 함수의 정의 및 사용(호출)
## 1.1 함수정의

In [ ]:
# 함수형 언어인 자바스크립트와 파이썬은 함수와 변수 모두 변수!!!

In [2]:
def my_hello(x, msg): # 함수정의
    for i in range(x):
        print(i, msg)

In [3]:
my_hello(4, '쉬는 시간입니다') # 함수 호출

0 쉬는 시간입니다
1 쉬는 시간입니다
2 쉬는 시간입니다
3 쉬는 시간입니다

In [4]:
type(my_hello)

function

In [5]:
my_hello = 10
type(my_hello)

int

In [6]:
my_hello(4, '쉬는 시간입니다') # my_hello = 10 때문에 function은 없어짐

TypeError: 'int' object is not callable

In [9]:
def my_hello(x): # 같은 이름의 함수는 덮어씀 (오버로딩 불가)
    for i in range(x):
        print(i, "함수는 복습 필수")

In [11]:
my_hello(4)

0 함수는 복습 필수
1 함수는 복습 필수
2 함수는 복습 필수
3 함수는 복습 필수

In [13]:
def my_add(num1, num2, num3 = 0): # num3은 기본값을 갖는 인수 -> 매개 변수 2개도 되고 3개도 된다!
                                  # 기본값을 갖는 인수는 순서인수 뒤에
    return num1 + num2 + num3
print(my_add(1, 2, 3))
print(my_add(1, 2))

6
3

## 1.2 docstring
- 함수 도움말 shift + tab키로 볼 수 있음

In [15]:
def fibonacci(n):
    '''
    인수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n = 10 : 0, 1, 1, 2, 3, 5, 8
    ex. n = 5 : 0, 1, 1, 2, 3
    '''
    a, b = 0, 1 # 내부적으로 튜플로
    while a < n:
        print(a, end='. ')
        a, b = b, a + b
    print() # 개행

In [16]:
fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

In [17]:
fibonacci

In [20]:
__name__

'__main__'

In [21]:
if __name__ == '__main__':
    fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

In [25]:
import fibonacci as fibo # fibonacci.py가 해석돼서 메모리에 로드 됨.

In [26]:
fibo.fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

## 1.3 지역변수(local var)와 전역변수(global var)

In [29]:
global_var = 100 # 전역변수 : 어디에서나 쓸 수 있는 변수
def func1():
    print(global_var)

func1()
global_var

100

100

In [31]:
def func2():
    local_var = 100 # 지역변수 : 함수내에서만 사용 가능한 변수
    print(local_var)
func2()

100

In [33]:
local_var # 함수 밖에서는 사용 불가

NameError: name 'local_var' is not defined

In [37]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수 선언
    print(g_var)
func3()
g_var

200

100

## 1.4 Lexical 특성

In [42]:
g_var = 100 # 전역변수
def func3():
    print(g_var)
    g_var = 200 # 지역변수 선언 - > 선언하는 부분을 먼저 컴파일한다! 하지만 아직 값을 할당하진 않아서 위 print(g_var)에서 error난다.
    print(g_var)
func3()

UnboundLocalError: cannot access local variable 'g_var' where it is not associated with a value

## 1.5 전역변수 수정

In [41]:
g_var = 100 # 전역변수
def func3():
    global g_var # 함수 내에서 g_var는 전역변수를 쓴다!
    print(g_var)
    g_var = 200 # 전역 변수에 값을 할당
    print(g_var)
func3()

100
200

## 1.6 값에 의한 호출 (Call by Value)
- 함수에 인수로 전달된는 변수가 스칼라 변수(숫자, 문자, 논리)일 경우

In [44]:
foo = 'ab' # 스칼라 변수
id(foo)

1559346221488

In [46]:
def func1(f):
    print("Before : {}의 주소는 {}".format(f, id(f)))
    f *= 3 #매개변수는 지역변수
    print("After : {}의 주소는 {}".format(f, id(f)))

func1(foo)
print("함수 호출 후 foo : {}의 주소는 {}".format(foo, id(foo))) # 함수 안에서만 바뀌고 밖에서는 안 바뀐다!

Before : ab의 주소는 1559346221488
After : ababab의 주소는 1559430595248
함수 호출 후 foo : ab의 주소는 1559346221488

## 1.7 참조에 의한 호출 (Call by reference)
- 함수에 전달되는 인수가 리스트, 딕셔너리, 셋일 경우

In [49]:
L = [1, 2, 3]
print('L의 내용은 {}, 주소는 {}'.format(L, id(L)))

L의 내용은 [1, 2, 3], 주소는 1559430047296

In [51]:
def func2(f):
    print('함수 내 before : L의 내용은 {}, 주소는 {}'.format(L, id(L)))
    f.append(4)
    print('함수 내 after : L의 내용은 {}, 주소는 {}'.format(L, id(L)))
func2(L)
print('L의 내용은 {}, 주소는 {}'.format(L, id(L))) # 함수 밖에서도 바뀐다!

함수 내 before : L의 내용은 [1, 2, 3, 4], 주소는 1559430047296
함수 내 after : L의 내용은 [1, 2, 3, 4, 4], 주소는 1559430047296
L의 내용은 [1, 2, 3, 4, 4], 주소는 1559430047296

# 2절. 함수의 실행결과를 반환하는 return
- 여러 개의 값을 반환할 수 있다 (하나의 튜플로 반환)

In [53]:
# 여러값을 return
def swap(a, b):
    return b, a

In [55]:
x, y = 5, 10 # 컴마(,)는 자동적으로 튜플로 인식
print("함수 실행 전 x = {}, y = {}".format(x, y))
x, y = swap(x, y)
print("함수 실행 후 x = {}, y = {}".format(x, y))

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [86]:
def make_url(ip, port=80) :
    #반드시 순서인수, 기본값을 갖는 인수(키워드 인수 아님) 순으로
    return "http://{}:{}".format(ip, port)

In [87]:
print(make_url("localhost"))
print(make_url("localhost", 8090))
print(make_url(port=8090, ip="localhost")) # 되긴한데 이렇게는 거의 안씀

http://localhost:80
http://localhost:8090
http://localhost:8090

## 3.2 튜플 매개변수를 이용한 가변인수(인수 개수가 가변) 설정
- 대표적으로 print

In [88]:
print('Hello', 'world') # 인수의 개수가 가변 = 가변인수
print('Hello')
print('h', 'e','l','l','o')

Hello world
Hello
h e l l o

In [89]:
# args앞에 * : args가 튜플로 전달 받음; 튜플 매개변수
def add(*args) :
    print("전달받은 args : ", args)
    print(type(args))
    sum = 0
    for num in args:
        sum += num
    return sum

In [90]:
print(add(1, 2, 3, 4, 5, 6))
print(add(1))
print(add(1, 2))

전달받은 args :  (1, 2, 3, 4, 5, 6)
<class 'tuple'>
21
전달받은 args :  (1,)
<class 'tuple'>
1
전달받은 args :  (1, 2)
<class 'tuple'>
3

In [91]:
#concat("C", "Python", "Oracle", "~")
#=> C~Python~Oracle
def concat(*args, sep):
    return sep.join(args)

concat("C", "Python", "Oracle", "~") # "C", "Python", "Oracle", "~" 모두 튜플로 받아서 sep을 안 받은것으로 error남

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [92]:
# 해결책1 <-비추
concat("C", "Python", "Oracle", sep="~")

'C~Python~Oracle'

In [93]:
# 해결책2 <-강추
def concat(sep, *args): # 순서인수 > 튜플인수 > 키워드 인수(키워드를 꼭 써야 에러가 안남 ex. sep='/') 순서로!!
    return sep.join(args)

concat("~", "C", "Python", "Oracle")

'C~Python~Oracle'

In [97]:
def concat(*args, sep='/'): # 순서인수 > 튜플인수 > 키워드 인수(키워드를 꼭 써야 함. ex) sep='/') 순서로!!
    return sep.join(args)
    
concat("C", "Python", "Oracle")

'C/Python/Oracle'

In [98]:
concat("C", "Python", "Oracle", "~") # sep=을 안쓰면 다 튜플로 인식

'C/Python/Oracle/~'

In [99]:
concat("C", "Python", "Oracle", sep='~') # sep=을 써야 하므로 키워드 인수

'C~Python~Oracle'

## 3.3 딕셔너리 매개변수

In [105]:
def func(**args): # args를 딕셔너리로 전달 받음
    print(args)
    print(type(args))

    for key, value in args.items():
        print("{} : {}".format(key, value))

In [106]:
# dic = {"name":"홍길동", "age":20}
# func(dic) #이렇게 하면 **args로 받을 필요없음. 그냥 args로 받으면 됨.
func(name="홍길동", age=20)

{'name': '홍길동', 'age': 20}
<class 'dict'>
name : 홍길동
age : 20

In [107]:
func(gameName="서바이벌C", year=2024, price=33000)

{'gameName': '서바이벌C', 'year': 2024, 'price': 33000}
<class 'dict'>
gameName : 서바이벌C
year : 2024
price : 33000

## 3.4 함수 정의 시 매개변수의 순서
- 순서 인수 > 튜플 인수(*) > 키워드 인수(매개변수 이름을 명시) > 딕셔너리 인수(**)

In [108]:
def func(a, b, c, *d, e=10, **f):
    print('a=', a)
    print('b=', b)
    print('c=', c)
    print('d=', d)
    print('e=', e)
    print('f=', f)

In [109]:
func(10, 20, 30, 1, 2, 3, 4, 5, e=100, height=180, name='홍길동',address='서울시')

a= 10
b= 20
c= 30
d= (1, 2, 3, 4, 5)
e= 100
f= {'height': 180, 'name': '홍길동', 'address': '서울시'}

## 3.5 인수의 언패킹
- 패킹하지 않고 그대로 전달 받고 싶을 때

### *튜플 인수 언패킹

In [120]:
# args앞에 * : args가 튜플로 전달 받음; 튜플 매개변수
def add(*args) :
    print("전달받은 args : ", args)
    print(type(args))
    sum = 0
    for num in args:
        sum += num
    return sum

In [121]:
data = (1, 2, 3, 4, 5, 6)
add(data) # 언패킹 안하면 error

전달받은 args :  ((1, 2, 3, 4, 5, 6),)
<class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [122]:
data = (1, 2, 3, 4, 5, 6)
add(*data) # 언패킹

전달받은 args :  (1, 2, 3, 4, 5, 6)
<class 'tuple'>

21

### *딕셔너리 인수 언패킹

In [123]:
def func(**args): # args를 딕셔너리로 전달 받음
    print(args)
    print(type(args))

    for key, value in args.items():
        print("{} : {}".format(key, value))

In [124]:
dic = {'name' : '홍길동', 'age' : '30'}
func(dic) # 언패킹 안하면 error

TypeError: func() takes 0 positional arguments but 1 was given

In [125]:
dic = {'name' : '홍길동', 'age' : '30'}
func(**dic) # 언패킹

{'name': '홍길동', 'age': '30'}
<class 'dict'>
name : 홍길동
age : 30

# 4절. 람다식
- 람다식은 작은 익명함수를 의미함
- 실행할 문장을 한 문장만 작성할 수 있음
- 리스트 컴프리헨션과 같이 참조해서 학습 추천
- ex. map(), filter()에서 사용할 예정

In [126]:
# 일반함수
def add(a, b):
    return a + b
add(3 ,5)

8

In [127]:
type(add)

function

In [131]:
# 람다식
add = lambda a, b : a + b # lambda 매개변수 : return 값
                          # 원래 변수에 담으려고 쓰는게 아님!!

In [132]:
add(3, 5)

8

In [133]:
type(add)

function

In [135]:
(lambda a, b : a + b)(5, 6)

11

## *매개변수로 람다식 이용

In [136]:
f = lambda x : x**2
f(3)

9

In [138]:
def map_template(func, L=[]):
    result = []
    for data in L:
        result.append(func(data))
    return result

In [140]:
list_data = [1,2,3,4,5]
map_template(lambda x : x**2, list_data)

[1, 4, 9, 16, 25]

In [146]:
list(map(lambda x:x*2, list_data)) # map함수로 있음!! (복잡한게 많아서 리스트 컴프리헨션이 아니라 map을 많이씀)

[2, 4, 6, 8, 10]

In [158]:
# 리스트 컴프리헨션 이용 가능(간단한 데이터는 리스트 컴프리헨션을 사용!)
[x*2 for x in list_data]

[2, 4, 6, 8, 10]

In [159]:
list_data = [1,2,3,4,5]

def filter_template(func, L=[]):
    result = []
    for data in L:
        if func(data) :
            result.append(data)
    return result

In [160]:
filter_template(lambda x : x%2==0, list_data)

[2, 4]

In [161]:
list(filter(lambda x : x%2==0, list_data)) # filter 함수로 있음!!

[2, 4]

In [162]:
# 리스트 컴프리헨션 이용 가능
[x for x in list_data if x%2==0]

[2, 4]

# 5절 파이썬 내장함수
 * print처럼 import하지 않고 사용가능한 함수

# 연습문제

In [169]:
# 1. 함수의 인자로 리스트를 받은 후, 리스트 내에 있는 모든 정수값에 대하여 
#    최대값과 최소값을 return하는 함수 get_max_min(data_list)를 구현하고 호출하시오
def get_max_min(data_list):
      return max(data_list), min(data_list)

data_list = [1,2,3,4,5]
get_max_min(data_list)

(5, 1)

In [170]:
# 2.로또 생성함수 make_lotto()
import random
def make_lotto():
    lotto = set()
    while len(lotto) < 6:
        lotto.add(random.randint(1, 45))
    lotto = list(lotto)
    lotto.sort()
    return lotto

make_lotto()

[6, 15, 16, 23, 33, 38]

In [181]:
# 3.369게임은 숫자에 3,6,9가 들어가면 박수를 치고, 나머지는 숫자는 그대로이야기하는 게임이다. 369게임을 시뮬레이션하는 함수를 정의하라
# 1단계 : game_369([1,2,3,4,5,6,7,8,9,13,20,33])
# - 결과 : [1,2, ‘짝’, 4,5, ‘짝’,7,8, ‘짝’, ‘짝’, 20,‘짝짝’]

def game_369(L):
    result=[]
    for data in L: # 튜플과 리스트 모두 가능
        data_str = str(data)
        datastr_list = list(data_str)
        clap = ''
        for s in datastr_list:
            if (int(s)!=0) & (int(s)%3 == 0): #3의 배수
                clap += '짝'
            if clap:
                result.append(clap)
            else:
                result.append(data)
    return result

game_369([1,2,3,4,5,6,7,8,9,13,20,33])

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', 13, '짝', 20, 20, '짝', '짝짝']

In [182]:
# 2단계 : game_369(1,2,3,4,5,6,7,8,9,13,20,33) #튜플인수이용
# - 결과 : [1,2, ‘짝’, 4,5, ‘짝’,7,8, ‘짝’, ‘짝’, 20,‘짝짝’]

def game_369(*L):
    result=[]
    for data in L:
        data_str = str(data)
        datastr_list = list(data_str)
        clap = ''
        for s in datastr_list:
            if (int(s)!=0) & (int(s)%3 == 0): #3의 배수
                clap += '짝'
            if clap:
                result.append(clap)
            else:
                result.append(data)
    return result

game_369(1, 2, 3, 4, 5, 6, 13, 20, 33)

[1, 2, '짝', 4, 5, '짝', 13, '짝', 20, 20, '짝', '짝짝']