<font size="6" color = "blue"><b>ch09. 파일 입출력</b></font>

# 1절. 파일에 데이터를 저장하고 불러오기

In [21]:
# w : 있는 파일은 기존의 파일에 덮어쓰고 없는 파일은 생성 (쓰기 전용)
# a : 있는 파일은 추가 / 없는 파일은 생성 (쓰기 전용)
# r : 읽기 전용
f = open('data/ch09.txt', 'w') # encoding 기본값 CP949
print(f.writable()) # 쓸 수 있다!

True

In [22]:
f.write("Hello\nWorld\nPython\n반갑습니다\n") # 한글은 cp949
f.write("여러번 write가능\n")
f.close()

In [23]:
with open('data/ch09.txt', 'r') as f: # with를 이용한 read (close자동)
    data = f.readlines()
    print(data)

['Hello\n', 'World\n', 'Python\n', '반갑습니다\n', '여러번 write가능\n']

In [24]:
with open('data/ch09.txt', 'w') as f: # with를 이용한 write (close자동)
    print("Python is easy\n", file=f)

In [26]:
# utf-8로 인코딩 된 csv파일을 read
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    data = f.readlines()
    for row in data:
        print(row, end="")

홍길동,20,hong@hong.com,서울시 강동구
박길서,33,park@hong.com,서울시 강서구
박길남,23,gil@hong.com,서울시 강남구
김길북,20,kim@hong.com,서울시 강북구
신길서,40,shin@hong.com,서울시 강서구
신길동,28,dong@hong.com,서울시 강서동

In [32]:
import pandas as pd
member1 = pd.read_csv('data/ch09_member1.csv', header=None) 
member1.columns = ['name', 'age', 'email', 'address'] # header가 업어서 추가
member1

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구
3  김길북   20   kim@hong.com  서울시 강북구
4  신길서   40  shin@hong.com  서울시 강서구
5  신길동   28  dong@hong.com  서울시 강서동

In [33]:
type(member1)

pandas.core.frame.DataFrame

In [34]:
member2 = pd.read_csv('data/ch09_member2.csv', nrows=3) # 3줄만 열어라 # 주로 너무 많은 데이터가 있는 파일에서 사용
member2

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구

In [36]:
member = pd.concat([member1, member2]) # 행병합
member

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구
3  김길북   20   kim@hong.com  서울시 강북구
4  신길서   40  shin@hong.com  서울시 강서구
5  신길동   28  dong@hong.com  서울시 강서동
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구

In [39]:
member.to_csv('data/member.csv', index=False) # index포함 안하고 파일 생성 및 저장