<font size="8" color = "red"><b>ch03. 데이터 구조</b></font>
- 리스트 [], 튜플 (), 딕셔너리(구조체와 유사), 셋 (집합)

In [1]:
# 데이터 구조 : 변수하나에 여러개 데이터를 넣기 위한 자료형
# 리스트 : 파이썬은 변수의 타입이 없으니까 동일 자료형의 집합은 아님 따라서 100% 배열과 똑같지는 않다.

# 1절. 리스트
## 1.1 리스트 만들기
- [] 이용
- 인덱스 : 0부터 시작. -1은 맨 마지막 인덱스
- 슬라이싱([from:to:step])을 이용하여 추출 가능

In [2]:
# c : int arr[3] = {1, 2, 3};
#      arr[3] = 1 //불가능 인덱스는 0부터 2까지!! 길이 변경 불가능
# 파이썬 리스트는 길이 줄였다가 늘렸다가 가능.
# 동일 자료형의 집합이 아니여도 리스트에 들어갈 수 있다. -> but! 동일 자료형이 아니면 최소, 최대, sort불가

In [3]:
fruits = ['banana', 'apple', 'orange', 'grape', 0]
type(fruits)

list

In [4]:
print(fruits) # 그냥 print를 이용해 출력 가능!

['banana', 'apple', 'orange', 'grape', 0]

In [5]:
print(fruits[0])

banana

In [6]:
fruits[0] = 'mango' # 요소 변경
print(fruits)

['mango', 'apple', 'orange', 'grape', 0]

In [8]:
# c에서는
# for(int i = 0; i < 5 i++)
#{
#   printf("%d번째 %d\n", i, fruits[i])
#}

In [9]:
for fruit in fruits:
    print(fruit)

mango
apple
orange
grape
0

In [10]:
for i in [0, 1, 2, 3, 4]: # ...이렇게는 안 씀. 리스트 언제 다 만들어!
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

In [12]:
list(range(5)) # 0부터 5 - 1까지 list 만들어주는 함수

[0, 1, 2, 3, 4]

In [13]:
len(fruits) #list fruits 요소의 개수

5

In [14]:
for i in range(len(fruits)): # 가능하지만 비추!!!!! -> enumerate 사용하기!!
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

In [15]:
# ★ 인덱스 필요하면 enumerate
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

## 1.2 기본정보 조회

In [16]:
numbers = [1,2,3,4,5]
print("요소의 수 : ", len(numbers))
print("최소값 : ", min(numbers))
print("최대값 : ", max(numbers))

요소의 수 :  5
최소값 :  1
최대값 :  5

## 1.3 요소 추가

In [17]:
# + : 두 리스트를 연결
# 리스트*n : 리스트를 n만큼 반복
# append() : 요소 뒤에 추가
# extend() : 리스트의 요소별로 뒤에 추가

In [18]:
numbers = [1,2,3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [20]:
numbers = [1,2,3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [23]:
numbers = [1,2,3,4]
num = [5,6]
# numbers를 [1,2,3,4,5,6] vs [1,2,3,4,[5,6]]
numbers.append(num)
print(numbers)

[1, 2, 3, 4, [5, 6]]

In [25]:
numbers = [1,2,3,4]
num = [5,6]
# numbers를 [1,2,3,4,5,6] vs [1,2,3,4,[5,6]]
numbers.extend(num) # 근데 +를 많이씀...
print(numbers)

[1, 2, 3, 4, 5, 6]

In [26]:
numbers = [1,2,3,4]
numbers.append('hello')
print(numbers)

[1, 2, 3, 4, 'hello']

In [27]:
numbers = [1,2,3,4]
numbers.extend('hello')
print(numbers)

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## 1.4 인덱싱
- index(찾고자하는 값, 1) : 찾고자하는 값을 1번 인덱스부터 찾아 그 위치를 반환.
- count(찾고자하는 값) : 찾고자하는 값이 몇 번 나오는지 count

In [30]:
numbers = [1,2,3,[1,2,3],1,2,3]
print("2가 몇개인지 : {}".format(numbers.count(2)))
print("4가 몇개인지 : {}".format(numbers.count(4)))

2가 몇개인지 : 2
4가 몇개인지 : 0

In [32]:
2 in numbers # numbers 안에 2가 있는지 여부 T/F 반환

True

In [33]:
numbers.index(2,3) # 3번쩨 인덱스부터 2가 처음 나오는 인덱스를 반환

5

## 1.5 리스트의 원하는 내용만 추출
- 슬라이싱 [from:to:step] ; 원하는 인덱스의 값을 추출
- 리스트 컴프리헨션을 이용 (람다 함수와 관련있음!) ; 원하는 데이터만 추출

In [34]:
numbers = [1,3,5,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [35]:
numbers[::2] # 인덱스가 짝수인 값을 추출

[1, 5, 10, 13, 19]

In [38]:
# 깂이 짝수인 데이터만 추출 (리스트 컨프리헨션 안쓰는 경우)
result = []
for num in numbers:
    if num % 2 == 0:
        result.append(num)
print(result)

[10, 12, 18, 20]

In [41]:
# 리스트 컨프리헨션
# for문을 돌면서 if문을 만족하는 num을 result에 저장
result = [num for num in numbers if num % 2 == 0]
result

[10, 12, 18, 20]

In [46]:
# numbers 리스트의 제곱값을 리스트로 생성하여라(컴프리헨션 이용)
numbers = [1,3,5]
result = [num**2 for num in numbers]
result

[1, 9, 25]

In [48]:
# 과일의 글자가 5글자 이상인 과일을 추출하세요
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit) >= 5]

['orange', 'apple', 'mango']

In [49]:
# 과일의 글자가 5글자 이상인 과일의 글자수를 추출하세요
[len(fruit) for fruit in fruits if len(fruit) >= 5]

[6, 5, 5]

## 1.6 삭제하기
- remove(data) : 해당 data가 제거 ; return 되지 않음
- del 리스트변수[idx] : idx번째 요소 제거
- pop() : 가장 마지막 인덱스 요소가 return 되고 삭제

In [53]:
numbers = [1,2,3,4]
print(numbers.pop())
print(numbers)

4
[1, 2, 3]

In [55]:
numbers.remove(1)
print(numbers)

[2, 3]

In [58]:
numbers.remove(9) # 없는 데이터 remove시 error발생

ValueError: list.remove(x): x not in list

In [59]:
del numbers[0] # 0번쩨 요소 없애기
print(numbers)

[3]

In [60]:
del numbers # 리스트 자체를 없애기

## 1.7 정렬하기

In [63]:
numbers = [9, 10, 1, 5, 5]
numbers.sort() # 오름차순 정렬
numbers

[1, 5, 5, 9, 10]

In [65]:
numbers = [9, 10, 1, 5, 5]
numbers.sort(reverse = True) # 내림차순 정렬
numbers

[10, 9, 5, 5, 1]

## 1.8 리스트 복제

In [66]:
numbers = [6,1,2]
new_numbers = numbers # 얕은 복사 ; 주소값을 복사 : 인스턴트가 메모리에 새로 생성되지 않는다
numbers.sort()
print("정렬 전 데이터 : ", new_numbers)
print("정렬 후 데이터 : ", numbers)
# 이렇게 하면 다 바뀜... 깊은 복사 해야한다!

정렬 전 데이터 :  [1, 2, 6]
정렬 후 데이터 :  [1, 2, 6]

In [67]:
numbers = [6,1,2]
new_numbers = numbers.copy() # 깊은 복사 ; 데이터 자체를 복사 : 복사된 두 객체는 완전히 독립적인 메모리를 차지한다.
numbers.sort()
print("정렬 전 데이터 : ", new_numbers)
print("정렬 후 데이터 : ", numbers)

정렬 전 데이터 :  [6, 1, 2]
정렬 후 데이터 :  [1, 2, 6]

# 2절. 튜플
- 리스트와 유사하지만 읽기 전용 (수정이 불가능!)
- ()를 이용해서 생성

In [68]:
city = ('서울', '부산', '광주', '대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [69]:
'~'.join(city)

'서울~부산~광주~대전'

In [70]:
list_ = ['서울'] # 요소가 하나여도 list
type(list_)

list

In [71]:
t = ('서울') # ??? 
type(t)

str

In [72]:
t = ('서울',) # 요소가 하나인 튜플은 컴마(,) 필수!
type(t)

tuple

# 3절. 딕셔너리
- 구조체와 유사 (c의 구조체와 다른점 : 함수 있음, 추가 가능)
- {}를 이용해서 생성. key-value쌍으로 구성
- value는 중복 가능하나 key는 중복 불가
- index를 이용한 참조 불가 (index가 없음)

In [80]:
dic = {'name' : '홍길동', 'address' : '서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [83]:
dic['name'], dic['address'] # 컴마(,) 연결하면 튜플로 인식

('홍길동', '서울시 금천구')

In [84]:
dic['score'] # 없으면 error

KeyError: 'score'

In [86]:
dic.get('name'), dic.get('address'), dic.get('score') # .get()은 없으면 None으로

('홍길동', '서울시 금천구', None)

In [88]:
#수정 : 추가할 수 있다!
dic['score'] = 100
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'sport': 'sleep'}

In [89]:
# 제거 가능
dic.pop('sport')

'sleep'

In [90]:
dic

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100}

In [92]:
# for문 사용 방법 (리스트, 튜플과 달리 딕셔너리에는 index가 없는데...)

In [96]:
# 리스트(튜플, 셋) 방식으로 for문 사용하면 key만 출력 (value를 출력하고 싶은데!!)
for key in dic:  
    print(key)

for idx, value in enumerate(dic):
    print(idx, value)

name
address
score
0 name
1 address
2 score

In [97]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [98]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [100]:
dic.items() # (key, value) 형식의 튜플들로 반환
            # ★★★★★ for문에 items()를 사용!!

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [101]:
for data in dic.values():
    print(data)

홍길동
서울시 금천구
100

In [103]:
for key, value in dic.items():
    print("{} : {}".format(key, value))

name : 홍길동
address : 서울시 금천구
score : 100

In [105]:
li = ['a', 'b', 'c']
'c' in li # li에 'c'가 있나? T/F

True

In [106]:
dic = {'name' : '홍길동', 'score' : 100}
'name' in dic

True

In [108]:
'홍길동' in dic # 딕셔너리에서는 key값이 있는지를 의미(value X)

False

In [109]:
len(dic) # 데이터 개수

2

# 4절. 셋
- 중복을 허용하지 않는 집합 (순서x = 인덱스x; but, enumuerate 사용 가능)
- {}를 이용해서 정의

In [114]:
fruits = {'apple', 'orange', 'banana', 'banana', 0, 0} # 파이썬은 자료형 상관없음
print(fruits)
print(type(fruits))

{'banana', 0, 'apple', 'orange'}
<class 'set'>

In [115]:
fruits.add('kiwi')
print(fruits)

{0, 'orange', 'kiwi', 'banana', 'apple'}

In [117]:
fruits.add('banana') # 이미 존재하는 값은 추가되지 않음
print(fruits)

{0, 'orange', 'kiwi', 'banana', 'apple'}

In [120]:
for i, value in enumerate(fruits): # 입력 순서는 아님!
    print("{}:{}".format(i, value))

0:0
1:orange
2:kiwi
3:banana
4:apple

In [121]:
for data in fruits:
    print(data)

0
orange
kiwi
banana
apple

# 5절. 연습문제

In [122]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [123]:
# 1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [124]:
# 2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
# data = [200, 300, 400, 500]
data = [200, 300, 400, 500]
numbers.extend(data)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [126]:
# 3. 처음 다섯 개 숫자만 출력하세요
print(numbers[:5])

[1, 2, 3, 4, 5]

In [129]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
print(numbers[1::2])

[2, 4, 6, 8, 10, 200, 400]

In [153]:
# 5. 짝수번째 데이터를 모두 0으로 바꾸세요
numbers[1::2] = [0] * len(numbers[1::2])
numbers

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 100, 0, 300, 0, 500]

In [154]:
# 6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)
numbers[::-1]

[500, 0, 300, 0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [133]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
# member = {'name':"홍길동","age":20,"address":"서울시 금천구", 'score':90}
member = {'name':"홍길동","age":20,"address":"서울시 금천구", 'score':90}

In [136]:
# 7. address값을 출력하세요
print(member['address'])

서울시 금천구

In [137]:
# 8. score 를 출력하고 member 딕셔너리에서 삭제하세요.
member.pop('score')

90

In [141]:
member

{'name': '홍길동', 'age': 20, 'address': '서울시 금천구'}

In [142]:
# 9. address를 '서울시 서대문구'로 변경하세요.
member['address'] = '서울시 서대문구'

In [143]:
member

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [149]:
# 10. member 딕셔너리 데이터의 값을 리스트로 출력하세요
list(member.values())

['홍길동', 20, '서울시 서대문구']